*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
    width: 100%;
  background: rgb(18,20,24);
   
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #fff;
  font-size: 1.3rem;
    margin: 0 auto;
  padding: 1.0rem 1.5rem;
  border-radius: 10px;
  background-color:rgb(34,34,34);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}
.input:hover{
  border: 0.5px solid rgb(197,204,120);
}

.form {
  width: 400px;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;;
}

.button {
  border-radius: 7px;
  border: none;
  background:linear-gradient(90deg,rgb(78,199,140),rgb(131,202,130),rgb(140,186,140),rgb(197,204,120),rgb(223,206,114));
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  text-decoration: none;
  color: #fff;
}
.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover a {
  padding-right: 25px;
}
.button:hover a:after {
  opacity: 1;
  right: 0;
}